.clearboth {
    clear: both;
}

.clearboth-list-activities {
    height: 30px;
}

#title-list-activities {
    font-size: 2rem;
    text-align: center;
    color: #444444;
    font-weight: bold;
}

#subtitle-list-activities {
    font-size: 1.2rem;
    text-align: center;
    color: #ff9030;
    margin-top: -10px;
}


#list-content {
    width: 60%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.activity-object {
    width: 40%;
    display: inline-block;
    border: 1px solid #d0d0d0;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all 300ms ease-in;
}

.activity-object:hover {
    box-shadow: 2px 2px 5px grey;
    border: 1px solid grey;
}

.activity-object a {
    color: inherit;
    text-decoration: none;
}

.activity-image {
    float: left;
    width: 40%;
    height: 200px;
}

.activity-title-description {
    float: right;
    width: 60%;
}

.activity-title {
    color: #ff9030;
    font-weight: bold;
    font-size: 1.3rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.activity-description {
    max-width: 80%;
    text-align: justify;
    color: #444444;
    font-size: 0.85rem;
    margin-left: auto;
    margin-right: auto;
    max-height: 131px;
    overflow-y: hidden;
}
